body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, minmax(350px, 1fr));
}

section {
    border: 1px solid #CCC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: skyblue;
    width: 600px;
}

.cub {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 200px;

    background-color: rebeccapurple;
    animation: anim 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.cub h1 {
    opacity: 0;
}

.cub:hover {
    animation-play-state: paused;
}

.cub:hover h1 {
    opacity: 1;
    transition: .7s;
}

@keyframes anim {
    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(200px);
    }
}

/* 
*/
.box-two {
    display: flex;
    justify-content: center;
}

.anim-two {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;

    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

/*  */
.box-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#anim-one {
    /* text-align: center; */
    padding-top: 100px;
    font-size: 0;
    font-weight: 700;
    color: #00CED2;
    animation: bounce-text 2s infinite cubic-bezier(0.245, 0.325, 0.670, 1.510)
}

@keyframes bounce-text {
    60% {
        font-size: 60px
    }

    100% {
        font-size: 60px
    }
}

/*  

*/

.text-animation {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    from {
        margin-right: 100%;
        width: 100%;
        font-size: 1em;
    }

    to {
        margin-right: 0%;
        width: 100%;
        font-size: 1em;
    }
}
/* ***************
***************
 */

 .stage {
    /* border-bottom: 3px solid #444; */
    display: flex;
    height: 462px;
    width: 100%;
}
.stage .box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: #F44336;
    height: 200px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px;
}
.bounce-7 {
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-7 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}